img {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 3px 3px 3px #555;
  margin: 10px;
}
#searchresults {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.limbo {
  opacity: 0.4;
}
#query {
  align-items: center;
  justify-content: space-around;
}
#query_img {
  box-shadow: 3px 3px 3px #22a;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#before_imgs, #after_imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#before_imgs {
  direction: rtl;
}
.model {
  color: gray;
  text-align: center;
}
.details {
  display: block;
  text-align: center;
  direction: ltr;
  font-weight: bold;
}
.co-occurrence {
  color: #ce1515;
}
.frequency {
  color: blue;
}
#query_img {
  margin: auto;
}
#helptext {
  text-align: justify;
  margin-top: 40px;
  
}
#query {
  padding-left: 0px;
  padding-right: 0px;
}
